* {
    margin: 0;
    padding: 0;
    color: #f0efef;
    font-family: "Arial", sans-serif;
    font-weight: bold;
}

body {
    background-color: #9cc8f0;
    font-family: Helvetica;
    margin: 0;
    padding: 20;
    text-align: center;
}

.bg-container {
    background-image: linear-gradient(60deg, #0054b4, #40e0d0, white);
    background-size: 600% 600%;
    animation: bgAnimatedGradient 7s infinite linear;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #ffffff;
    font-size: 36px;
    padding-top: 50px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.task {
    margin-right: 0;
}

.card-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    background-color: #9cc8f0;
    border-radius: 15px;
    margin: 20px auto;
    padding: 0;
    overflow: hidden; 
}

.card-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(50%);
    transition: transform 0.3s ease;
}

.card-container img:hover {
    transform: scale(1.1);
}

.card-container p {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
}

.card-container:hover {
    transform: scale(1); 
}

.task h2 {
    margin-bottom: 1rem;
}


